language: csharp
solution: Vocaluxe.sln
env:
  matrix:
  - config=Linux platform=x64
  - config=Linux platform=x86
  global:
    secure: XkVcuPYLSv+mvClWTUbnxfA162oCt+hkV7VYu//HRmDGW3xYFh8MbrKl4DQursABTJ1ogPiKaTnj+m0LyhP851NhO3dKbk4rtH0afVWQEAXo3up4O5MbURe4cqBCEdC6+sX45oXR/s6IHT6VZUhX9I7mkRc1Y8o5BkWPDEf5Scw=
branches:
  except:
  - Nightly
before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
  - sudo apt-get install -y gcc-4.8 g++-4.8
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 20
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 20
  - sudo update-alternatives --config gcc
  - sudo update-alternatives --config g++
  - ls -l /usr/
  - chmod ugo+x ./.build/linuxPostBuildEvent.sh
  - chmod ugo+x ./.build/linuxPreBuildEvent.sh
  - chmod ugo+x ./.travis/installFFmpeg.sh
  - sudo ./.travis/installFFmpeg.sh
script:
- make -C PitchTracker
- make -C Vocaluxe/Lib/Video/Acinerella
- xbuild /p:Configuration=Release$config /p:Platform=$platform Vocaluxe.sln
before_deploy:
- chmod ugo+x ./.travis/packArtifact.sh
- "./.travis/packArtifact.sh"
#- chmod ugo+x ./.travis/moveTagForSpecialBranches.sh
#- "./.travis/moveTagForSpecialBranches.sh"
deploy:
  provider: releases
  api_key: $GITHUB_KEY
  file: build/Vocaluxe_$GIT_TAG_$config_$platform.zip
  skip_cleanup: true
  on:
    repo: lukeIam/Vocaluxe
    condition: "${GIT_TAG} = 'Nightly' || -n ${TRAVIS_TAG}"
