language: csharp
solution: Vocaluxe.sln
env:
  matrix:
  - config=Linux platform=x64
  - config=Linux platform=x86
  global:
    secure: XkVcuPYLSv+mvClWTUbnxfA162oCt+hkV7VYu//HRmDGW3xYFh8MbrKl4DQursABTJ1ogPiKaTnj+m0LyhP851NhO3dKbk4rtH0afVWQEAXo3up4O5MbURe4cqBCEdC6+sX45oXR/s6IHT6VZUhX9I7mkRc1Y8o5BkWPDEf5Scw=
branches:
  except:
  - Nightly
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y gcc
  - sudo apt-get install -y ffmpeg
script:
- make -C PitchTracker
- make -C Vocaluxe/Lib/Video/Acinerella
- xbuild /p:Configuration=Release$config /p:Platform=$platform Vocaluxe.sln
before_deploy:
- chmod ugo+x ./.travis/packArtifact.sh
- "./.travis/packArtifact.sh"
- chmod ugo+x ./.travis/moveTagForSpecialBranches.sh
- "./.travis/moveTagForSpecialBranches.sh"
deploy:
  provider: releases
  api_key: $GITHUB_KEY
  file: build/Vocaluxe_$GIT_TAG_$config_$platform.zip
  skip_cleanup: true
  on:
    repo: lukeIam/Vocaluxe
    condition: "${GIT_TAG} = 'Nightly' || -n ${TRAVIS_TAG}"
